body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 70px;
}

h1 {
    color: #0077ff;
    font-size: 50px;
    background-color: #ffd700;  /* color de fondo del título */
}

p {
    font-size: 20px;
    font-weight: 800;  /* semi-grueso */
}

.bloque {
    display: flex;         
    align-items: flex-start; /* la imagen alineada arriba */
    gap: 15px;             
    margin: 20px 0;        
}

.bloque img {
    width: 50px;       /* imagen más pequeña */
    height: auto;      
    border-radius: 5px;
}

.bloque p {
    font-size: 12px;   /* texto más pequeño */
    line-height: 1.4;  /* espacio entre líneas para que sea legible */
}
