body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 70px;
}

h1 {
    color: #0077ff;
    font-size: 50px;
    background-color: #ffd700;  /* color de fondo del título */
}

p {
    font-size: 20px;
    font-weight: 800;  /* semi-grueso */
}

.bloque-2 {
    display: flex;            /* pone los elementos en fila */
    align-items: center;      /* centra verticalmente la imagen y textos */
    gap: 15px;                /* espacio entre los elementos */
    padding-left: 300px;       /* separa todo del borde izquierdo */
}

.bloque-2 p {
    font-size: 14px;
    margin: 0;
    font-weight: normal;
}

.bloque-2 img {
    width: 80px;          /* tamaño de la imagen */
    height: auto;
    border-radius: 10%;   /* hace la imagen completamente redonda */
}

.bloque-2 p:first-child {
    font-size: 30px;      /* aumenta el tamaño del primer texto */
    font-weight: bold;    /* opcional: más destacado */
    margin: 0;
    color: #735F5C;       /* aquí pones el color que quieras */
}
