body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 70px;
}

h1 {
    color: #0077ff;
    font-size: 50px
    background-color: brown;  /* color de fondo del título */
}

p {
    font-size: 18px;
}
